
.l3-0-0-0{ 
    position: absolute;
    width: 500px;
    height: 700px;
    margin-left: 0px;
    margin-top: 0.0px;
    z-index: 0;
}

.l3-0-0-1{ 
    position: absolute;
    width: 500px;
    height: 700px;
    margin-left: 580px;
    margin-top: 0.0px;
    z-index: 0;
}

.l3-0-0-2{ 
    position: absolute;
    width: 500px;
    height: 700px;
    margin-left: 1160px;
    margin-top: 0.0px;
    z-index: 0;
}

.l3-0-1-0{ 
    position: absolute;
    width: 500px;
    height: 700px;
    margin-left: 0px;
    margin-top: 812.0px;
    z-index: 0;
}

.l3-0-1-1{ 
    position: absolute;
    width: 500px;
    height: 700px;
    margin-left: 580px;
    margin-top: 812.0px;
    z-index: 0;
}

.l3-0-1-2{ 
    position: absolute;
    width: 500px;
    height: 700px;
    margin-left: 1160px;
    margin-top: 812.0px;
    z-index: 0;
}

.l3-0-2-0{ 
    position: absolute;
    width: 500px;
    height: 700px;
    margin-left: 0px;
    margin-top: 1624.0px;
    z-index: 0;
}

.l3-0-2-1{ 
    position: absolute;
    width: 500px;
    height: 700px;
    margin-left: 580px;
    margin-top: 1624.0px;
    z-index: 0;
}

.l3-0-2-2{ 
    position: absolute;
    width: 500px;
    height: 700px;
    margin-left: 1160px;
    margin-top: 1624.0px;
    z-index: 0;
}

.l3-1-0-0{ 
    position: absolute;
    width: 500px;
    height: 700px;
    margin-left: 290px;
    margin-top: 390.0px;
    z-index: 1;
}

.l3-1-0-1{ 
    position: absolute;
    width: 500px;
    height: 700px;
    margin-left: 870px;
    margin-top: 390.0px;
    z-index: 1;
}

.l3-1-1-0{ 
    position: absolute;
    width: 500px;
    height: 700px;
    margin-left: 290px;
    margin-top: 1202.0px;
    z-index: 1;
}

.l3-1-1-1{ 
    position: absolute;
    width: 500px;
    height: 700px;
    margin-left: 870px;
    margin-top: 1202.0px;
    z-index: 1;
}

.l3-2-0-0{ 
    position: absolute;
    width: 500px;
    height: 700px;
    margin-left: 580px;
    margin-top: 780.0px;
    z-index: 2;
}


