
.l4-0-0-0{ 
    position: absolute;
    width: 210px;
    height: 210px;
    margin-left: 0px;
    margin-top: 80.0px;
    z-index: 0;
}

.l4-0-0-1{ 
    position: absolute;
    width: 210px;
    height: 210px;
    margin-left: 250px;
    margin-top: 80.0px;
    z-index: 0;
}

.l4-0-0-2{ 
    position: absolute;
    width: 210px;
    height: 210px;
    margin-left: 500px;
    margin-top: 80.0px;
    z-index: 0;
}

.l4-0-0-3{ 
    position: absolute;
    width: 210px;
    height: 210px;
    margin-left: 750px;
    margin-top: 80.0px;
    z-index: 0;
}

.l4-0-1-0{ 
    position: absolute;
    width: 210px;
    height: 210px;
    margin-left: 0px;
    margin-top: 330.0px;
    z-index: 0;
}

.l4-0-1-1{ 
    position: absolute;
    width: 210px;
    height: 210px;
    margin-left: 250px;
    margin-top: 330.0px;
    z-index: 0;
}

.l4-0-1-2{ 
    position: absolute;
    width: 210px;
    height: 210px;
    margin-left: 500px;
    margin-top: 330.0px;
    z-index: 0;
}

.l4-0-1-3{ 
    position: absolute;
    width: 210px;
    height: 210px;
    margin-left: 750px;
    margin-top: 330.0px;
    z-index: 0;
}

.l4-0-2-0{ 
    position: absolute;
    width: 210px;
    height: 210px;
    margin-left: 0px;
    margin-top: 580.0px;
    z-index: 0;
}

.l4-0-2-1{ 
    position: absolute;
    width: 210px;
    height: 210px;
    margin-left: 250px;
    margin-top: 580.0px;
    z-index: 0;
}

.l4-0-2-2{ 
    position: absolute;
    width: 210px;
    height: 210px;
    margin-left: 500px;
    margin-top: 580.0px;
    z-index: 0;
}

.l4-0-2-3{ 
    position: absolute;
    width: 210px;
    height: 210px;
    margin-left: 750px;
    margin-top: 580.0px;
    z-index: 0;
}

.l4-0-3-0{ 
    position: absolute;
    width: 210px;
    height: 210px;
    margin-left: 0px;
    margin-top: 830.0px;
    z-index: 0;
}

.l4-0-3-1{ 
    position: absolute;
    width: 210px;
    height: 210px;
    margin-left: 250px;
    margin-top: 830.0px;
    z-index: 0;
}

.l4-0-3-2{ 
    position: absolute;
    width: 210px;
    height: 210px;
    margin-left: 500px;
    margin-top: 830.0px;
    z-index: 0;
}

.l4-0-3-3{ 
    position: absolute;
    width: 210px;
    height: 210px;
    margin-left: 750px;
    margin-top: 830.0px;
    z-index: 0;
}

.l4-1-0-0{ 
    position: absolute;
    width: 210px;
    height: 210px;
    margin-left: 125px;
    margin-top: 205.0px;
    z-index: 1;
}

.l4-1-0-1{ 
    position: absolute;
    width: 210px;
    height: 210px;
    margin-left: 375px;
    margin-top: 205.0px;
    z-index: 1;
}

.l4-1-0-2{ 
    position: absolute;
    width: 210px;
    height: 210px;
    margin-left: 625px;
    margin-top: 205.0px;
    z-index: 1;
}

.l4-1-1-0{ 
    position: absolute;
    width: 210px;
    height: 210px;
    margin-left: 125px;
    margin-top: 455.0px;
    z-index: 1;
}

.l4-1-1-1{ 
    position: absolute;
    width: 210px;
    height: 210px;
    margin-left: 375px;
    margin-top: 455.0px;
    z-index: 1;
}

.l4-1-1-2{ 
    position: absolute;
    width: 210px;
    height: 210px;
    margin-left: 625px;
    margin-top: 455.0px;
    z-index: 1;
}

.l4-1-2-0{ 
    position: absolute;
    width: 210px;
    height: 210px;
    margin-left: 125px;
    margin-top: 705.0px;
    z-index: 1;
}

.l4-1-2-1{ 
    position: absolute;
    width: 210px;
    height: 210px;
    margin-left: 375px;
    margin-top: 705.0px;
    z-index: 1;
}

.l4-1-2-2{ 
    position: absolute;
    width: 210px;
    height: 210px;
    margin-left: 625px;
    margin-top: 705.0px;
    z-index: 1;
}

.l4-2-0-0{ 
    position: absolute;
    width: 210px;
    height: 210px;
    margin-left: 250px;
    margin-top: 330.0px;
    z-index: 2;
}

.l4-2-0-1{ 
    position: absolute;
    width: 210px;
    height: 210px;
    margin-left: 500px;
    margin-top: 330.0px;
    z-index: 2;
}

.l4-2-1-0{ 
    position: absolute;
    width: 210px;
    height: 210px;
    margin-left: 250px;
    margin-top: 580.0px;
    z-index: 2;
}

.l4-2-1-1{ 
    position: absolute;
    width: 210px;
    height: 210px;
    margin-left: 500px;
    margin-top: 580.0px;
    z-index: 2;
}

.l4-3-0-0{ 
    position: absolute;
    width: 210px;
    height: 210px;
    margin-left: 375px;
    margin-top: 455.0px;
    z-index: 3;
}

.l4-0-4-0{ 
    position: absolute;
    width: 200px;
    height: 200px;
    margin-left: 90px;
    margin-top: 1270.0px;
    z-index: 0;
}

.l4-0-4-1{ 
    position: absolute;
    width: 200px;
    height: 200px;
    margin-left: 380px;
    margin-top: 1270.0px;
    z-index: 0;
}

.l4-0-4-2{ 
    position: absolute;
    width: 200px;
    height: 200px;
    margin-left: 670px;
    margin-top: 1270.0px;
    z-index: 0;
}

