
/**
 * 位置和图片大小都是写死的
 * 下面这堆代码也是用代码生成的
*/


.l5-0-0-0{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 0px;
    margin-top: 80.0px;
    z-index: 0;
}

.l5-0-0-1{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 200px;
    margin-top: 80.0px;
    z-index: 0;
}

.l5-0-0-2{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 400px;
    margin-top: 80.0px;
    z-index: 0;
}

.l5-0-0-3{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 600px;
    margin-top: 80.0px;
    z-index: 0;
}

.l5-0-0-4{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 800px;
    margin-top: 80.0px;
    z-index: 0;
}

.l5-0-1-0{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 0px;
    margin-top: 247.0px;
    z-index: 0;
}

.l5-0-1-1{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 200px;
    margin-top: 247.0px;
    z-index: 0;
}

.l5-0-1-2{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 400px;
    margin-top: 247.0px;
    z-index: 0;
}

.l5-0-1-3{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 600px;
    margin-top: 247.0px;
    z-index: 0;
}

.l5-0-1-4{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 800px;
    margin-top: 247.0px;
    z-index: 0;
}

.l5-0-2-0{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 0px;
    margin-top: 414.0px;
    z-index: 0;
}

.l5-0-2-1{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 200px;
    margin-top: 414.0px;
    z-index: 0;
}

.l5-0-2-2{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 400px;
    margin-top: 414.0px;
    z-index: 0;
}

.l5-0-2-3{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 600px;
    margin-top: 414.0px;
    z-index: 0;
}

.l5-0-2-4{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 800px;
    margin-top: 414.0px;
    z-index: 0;
}

.l5-0-3-0{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 0px;
    margin-top: 581.0px;
    z-index: 0;
}

.l5-0-3-1{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 200px;
    margin-top: 581.0px;
    z-index: 0;
}

.l5-0-3-2{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 400px;
    margin-top: 581.0px;
    z-index: 0;
}

.l5-0-3-3{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 600px;
    margin-top: 581.0px;
    z-index: 0;
}

.l5-0-3-4{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 800px;
    margin-top: 581.0px;
    z-index: 0;
}

.l5-0-4-0{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 0px;
    margin-top: 748.0px;
    z-index: 0;
}

.l5-0-4-1{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 200px;
    margin-top: 748.0px;
    z-index: 0;
}

.l5-0-4-2{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 400px;
    margin-top: 748.0px;
    z-index: 0;
}

.l5-0-4-3{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 600px;
    margin-top: 748.0px;
    z-index: 0;
}

.l5-0-4-4{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 800px;
    margin-top: 748.0px;
    z-index: 0;
}

.l5-1-0-0{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 100px;
    margin-top: 166.0px;
    z-index: 1;
}

.l5-1-0-1{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 300px;
    margin-top: 166.0px;
    z-index: 1;
}

.l5-1-0-2{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 500px;
    margin-top: 166.0px;
    z-index: 1;
}

.l5-1-0-3{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 700px;
    margin-top: 166.0px;
    z-index: 1;
}

.l5-1-1-0{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 100px;
    margin-top: 333.0px;
    z-index: 1;
}

.l5-1-1-1{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 300px;
    margin-top: 333.0px;
    z-index: 1;
}

.l5-1-1-2{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 500px;
    margin-top: 333.0px;
    z-index: 1;
}

.l5-1-1-3{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 700px;
    margin-top: 333.0px;
    z-index: 1;
}

.l5-1-2-0{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 100px;
    margin-top: 500.0px;
    z-index: 1;
}

.l5-1-2-1{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 300px;
    margin-top: 500.0px;
    z-index: 1;
}

.l5-1-2-2{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 500px;
    margin-top: 500.0px;
    z-index: 1;
}

.l5-1-2-3{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 700px;
    margin-top: 500.0px;
    z-index: 1;
}

.l5-1-3-0{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 100px;
    margin-top: 667.0px;
    z-index: 1;
}

.l5-1-3-1{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 300px;
    margin-top: 667.0px;
    z-index: 1;
}

.l5-1-3-2{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 500px;
    margin-top: 667.0px;
    z-index: 1;
}

.l5-1-3-3{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 700px;
    margin-top: 667.0px;
    z-index: 1;
}

.l5-2-0-0{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 200px;
    margin-top: 252.0px;
    z-index: 2;
}

.l5-2-0-1{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 400px;
    margin-top: 252.0px;
    z-index: 2;
}

.l5-2-0-2{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 600px;
    margin-top: 252.0px;
    z-index: 2;
}

.l5-2-1-0{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 200px;
    margin-top: 419.0px;
    z-index: 2;
}

.l5-2-1-1{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 400px;
    margin-top: 419.0px;
    z-index: 2;
}

.l5-2-1-2{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 600px;
    margin-top: 419.0px;
    z-index: 2;
}

.l5-2-2-0{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 200px;
    margin-top: 586.0px;
    z-index: 2;
}

.l5-2-2-1{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 400px;
    margin-top: 586.0px;
    z-index: 2;
}

.l5-2-2-2{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 600px;
    margin-top: 586.0px;
    z-index: 2;
}

.l5-3-0-0{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 300px;
    margin-top: 338.0px;
    z-index: 3;
}

.l5-3-0-1{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 500px;
    margin-top: 338.0px;
    z-index: 3;
}

.l5-3-1-0{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 300px;
    margin-top: 505.0px;
    z-index: 3;
}

.l5-3-1-1{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 500px;
    margin-top: 505.0px;
    z-index: 3;
}

.l5-4-0-0{ 
    position: absolute;
    width: 170px;
    height: 142.0px;
    margin-left: 400px;
    margin-top: 424.0px;
    z-index: 4;
}

.l5-0-5-0{ 
    position: absolute;
    width: 200px;
    height: 200px;
    margin-left: 90px;
    margin-top: 1105.0px;
    z-index: 0;
}

.l5-0-5-1{ 
    position: absolute;
    width: 200px;
    height: 200px;
    margin-left: 380px;
    margin-top: 1105.0px;
    z-index: 0;
}

.l5-0-5-2{ 
    position: absolute;
    width: 200px;
    height: 200px;
    margin-left: 670px;
    margin-top: 1105.0px;
    z-index: 0;
}

